*{
   margin:0;
   padding:0; 
}
/* Header */
.header_left img{
            object-fit: contain;
            height:28px;
            margin-left:5px;
            width:150px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: ghostwhite; 
    border-top:3px solid orangered;
    height: 50px;
    position:relative;
    
}
.header_left{
    display: flex;
    align-items: center;
}
.header_left span{
    padding: 10px;
    cursor: pointer;
}
.header_middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color:white;
    padding:2px;
    border-radius:3px;
    right:0;
    
}     
nav ul li{
    list-style-type: none;
    width: 100px;
    float:left;
    color: gray;
    cursor: pointer;
    
}        
.material-symbols-outlined{
    color: gray;
}
.header_middle input{
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}
.header_right{
    display: flex;
    padding-right: 20px;
}
.header_right span{
    padding: 10px;
    cursor: pointer;
}
.option{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #773838;
}
/* sidebar*/
.sidebar{
    flex:0.3;
    max-width:200px;
    padding-right: 20px;
    position: sticky;
    overflow: scroll;
    height:700px;
    margin-left: 30px;
}
.sidebarOption{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    margin-top:0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #818181;
}
.sidebarOption .material-symbols-outlined{
    padding: 5px;
}
.sidebarOption h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.sidebarOption h6{
    flex: 1;
    margin-left: 10px;
    font-size: 10px;
    font-weight: 400;
    font-family: sans-serif;
}
.sidebarOption2{
    align-items: center;
    height: 35px;
    padding: 0 16px;
    margin-top:0px;
    border-right: 3px solid orangered;
    cursor: pointer;
    color:black;
    display: flex;
    background-color: ghostwhite;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.card{
    width:300px;
    height:300PX;
    background-color: white;
    border: 1px solid darkgrey;
    position: relative;
    margin-top:0px;
    margin-left:5px;
}
.card-body{
    padding:10px;
}
.card-body img{
margin-left: 0px;
width: 150px;
height: 100px;
object-fit: contain;
}
.sidebarOption3{
    align-items: center;
    height: 35px;
    padding: 0 16px;
    margin-top:0px;
    cursor: pointer;
    display: flex;
    background-color:orangered;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: white;
}
.sidebarOption4{
    align-items: center;
    height: 35px;
    padding: 0 16px;
    margin-top:0px;
    margin-left:5px;
    cursor: pointer;
    display: flex;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:black;
}