
* {
	margin: 0;
	/*padding:0;*/
	
}
/* Header */
.headerLeft img {
	object-fit: contain;
	height: 28px;
	margin-left: 5px;
	width: 150px;
}
.icons{
	width:20px;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid whitesmoke;
	background-color: ghostwhite;
	border-top: 3px solid orangered;
	overflow: hidden;
	padding:5px;
}

.headerLeft {
	display: flex;
	align-items: center;
}

.headerLeft span {
	padding: 10px;
	cursor: pointer;
}

.headerLeft img {
	margin-left: 30px;
}

.headerMiddle {
	display: flex;
	flex: 0.7;
	align-items: center;
	background-color: white;
	padding: 2px;
	border-radius: 3px;
	right: 0;
}

nav ul li  {
	list-style-type: none;
	width: 100px;
	float: left;
	color: gray;
	cursor: pointer;
}

nav ul li :hover{
	color:black;
        border:none;
	outline:none;
	background-color: rgb(230, 225, 225);
        box-shadow: 0px 2px 2px -2px;
	border-radius: 30px;
	border-width:20px;

}

.material-symbols-outlined {
	color: gray;
}

.material-symbols-outlined2 {
	color: orange;
}

.headerMiddle input {
	border: none;
	width: 100%;
	padding: 10px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}

.headerRight {
	display: flex;
	padding-right: 20px;
	margin-left: 0px;
}

.headerRight span {
	padding: 10px;
	cursor: pointer;
}

.option {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #773838;
}

.log button{
    padding: 5px;
    cursor: pointer;
    width: 80px;
    color: blue;
    background-color: lightblue;
    border-color:#99CCFF;
    border-radius:5px ;
    display:flex;
    border-width:1px;
  
}
.log button:hover{
	background-color:#99CCFF;
	color:black;

}
.sign button{
   
    width: 80px;
    color: white;
    background-color:rgb(26, 209, 255);
    padding:5px;
    cursor: pointer;
    border-radius:5px ;
    border-color:#99CCFF;
    display:flex;
    border-width:1px;
}
.sign button:hover{
	background-color:#99CCFF;
}

/* sidebar*/
.sidebar {
	width:auto;
	padding-left: 20px;
	font-size: 12px;
	overflow-y:scroll;
	margin-bottom: var(--su8);
}
.sidebarOption {
	display: flex;
	align-items: center;
	padding: 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	color: #818181;
	font-size:15px;
}

.sidebarOption2 {
	display: flex;
	align-items: center;
	padding: 0 10px;
	font-size:15px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	color: #818181;
}

.sidebarOption .material-symbols-outlined {
	padding: 5px;
	padding-left: 0;
	font-size: 20px;
}

.sidebarOption2 .material-symbols-outlined {
	padding: 5px;
	padding-left: 0;
	font-size: 20px;
	color: orange;
}

.sidebarOption:hover .material-icons,
.sidebarOption__active,
.sidebarOption__active .material-icons {
	background-color: #F1F2F3;
	color: black;
	font-weight: 800;
}

.sidebarOption:hover {
	color: black;
}

.home {
	padding-top: 30px;
}

.public {
	padding-top: 25px;
}

.questions,
.collectives, 
.expcollectives,
.teams,
.freeteam {
	padding-top: 5px;
	padding-right: 2px;
}

.tags,
.users,
.companies {
	padding-left: 25px;
}
.bodyContent{
	display: flex;
}

.collectives {
	padding-right: 58px;
}

.teams {
	padding-right: 80px;
}

.expcollective {
	padding-top: 5px;
}

.sidebarOption__active {
	border-right: 3px solid #f48225;
}
/* bigbody */
.card {
	width: 180px;
	height: 300PX;
	background-color: white;
	border: 1px solid darkgrey;
	margin-top: 0px;
	margin-left: 5px;
}

.cardBody {
	padding: 10px;
}

.cardBody img {
	margin-left: 0px;
	width: 150px;
	object-fit: contain;
}

.sidebarOption3 {
	align-items: center;
	height: 35px;
	padding: 0 16px;
	margin-top: 0px;
	cursor: pointer;
	display: flex;
	background-color: orangered;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: white;
}

.sidebarOption4 {
	align-items: center;
	height: 35px;
	padding: 0 16px;
	margin-top: 0px;
	margin-left: 5px;
	cursor: pointer;
	display: flex;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: black;
}
/*body*/
.mainBody {
	display:flex;
	padding-left:5px;
}
#topContent{
	/*padding: 20px;*/
	max-width: 1100px;
    width: calc(100% - 164px);
    background-color: var(--theme-content-background-color);
    border-radius: 0;
    border: 1pxsolidvar(--theme-content-border-color);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    padding: var(--su24);
    box-sizing: border-box;

}
.listHead {
	/*flex: 1;*/
	padding-left: 15px;
}
body{
	font-family:apple-system, BlinkMacSystemFont, "Segoe UI Adjusted", "Segoe UI", "Liberation Sans", sans-serif;
}


.listSetting {
	top: 0;
	display: flex;
	border-bottom: 1px whitesmoke;
	background-color: white;
	z-index: 999;
	padding: 8px;
	cursor: pointer;
}

.listsettingLeft {
	box-shadow: 1px 0px 5px -1px rgb(220, 225, 228);
}

.listsettingLeft img {
	width: 140px;
	height: 140px;
}

.box {
	width:400px;
	padding-right: 100px;
	margin-left:0px;
}

.name {
	margin-top: 15px;
	padding-right: 100px;
	font-weight:50px;
	font-size: xx-large;
}

.cakedes {
	font-size: 12px;
	font-weight: 400;
	margin-right: 20px;
	color: gray;
	padding-left: 5px;
	margin-right: 10px;
	margin-top: 8px;
}

.nameBodyopt {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	color: grey;
	margin-top: 5px;
}

.locBodyopt {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 10px 10px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	color: grey;
}

.twitter {
	width: 20px;
	height: 20px;
	margin-top: 10px;
	margin-left: 5px;
}

.hub {
	width: 16px;
	height: 16px;
	margin-top:10px;
	margin-left:5px;
}

.chain {
	width: 16px;
	height: 16px;
	margin-top: 10px;
	margin-left: 4px;
}

.communities {
	margin-top: 20px;
}

.meta {
	height: 24px;
}

.section {
	display: flex;
	cursor: pointer;
}

.listSection {
	display: flex;
}

.profile {
	margin-left: 10px;
	text-transform: capitalize;
	color: rgb(253, 250, 250);
	padding: 7px;
	border-radius: 30px;
	background-color: rgb(250, 124, 6);
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
}

.profile h3 {
	font-size: small;
	font-weight: 400;
}

.profile:hover {
	margin-left: 10px;
	text-transform: capitalize;
	font-weight: 300;
	color: rgb(247, 244, 244);
	padding: 7px;
	border-radius: 30px;
	background-color: rgb(216, 109, 22);
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 2px 2px;
}
.sideContent{
	width:300px;
}
.about {
	
	text-transform: capitalize;
	padding: 7px;
	align-items: center;
	outline:none;
	border: none;
	background-color: white;
}

.about h3 {
	font-size: small;
	font-weight: 400;
}
.about:hover {
	margin-left: 10px;
	text-transform: capitalize;
	font-weight: 300;
	color: rgb(32, 31, 31);
	padding: 7px;
	border-radius: 30px;
	background-color: rgb(230, 225, 225);
	display: flex;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
	box-shadow: 0px 2px 2px -2px;
}



.statUser{
	padding-left:5px;
	margin-left: 10px;
	margin-top: 10px;

}
.stats {
	width:250px;
	margin-right: 480px;
	border: 1px solid rgba(128,128,128,0.2);
	border-radius: 5px;
	margin-bottom:10px;
	margin-top: 20px;
}
.collectOut{
	margin-top: 1px;
}


.h2 {
	padding-top: 12px;
}

.numbers {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 5px;
	padding-left: 10px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 5px;
}

.statText {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 5px 5px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	cursor: pointer;
	margin-left: 10px;
	margin-top: -15px;
}

.space {
	padding-right: 40px;
}

.community {
	width: 250px;
	padding-right: 50px;
	border: 1px solid rgba(128,128,128,0.2);
	border-radius: 5px;
	margin-right:50px;
}
.commopt {
	color: #0063bf;
	font-weight: 10;
	cursor: pointer;
}
.commopt:hover{
	color:#4db8ff;

}

.abspace {
	padding-right: 250px;
}

.a:link {
	color: #0063bf;
	text-decoration: underline;
}

.a:visited {
	color: #0063bf;
}


.info {
	padding-top: 10px;
}

.li {
	padding-top: 10px;
}

.heading {
	margin-top: 20px;
	font-weight:10px;
	font-size:22px;
}

.community img {
	height: 24px;
	cursor: pointer;
	
}
.googleImage{
	display:flex;
}
.badges {
	display: flex;
}


.collective {

	top:5px;
	width: 200px;
	padding: 5px;
	padding-right: 50px;
	margin-right: 480px;
	border: 1px solid rgba(128,128,128,0.2);
	border-radius: 5px;
}

.collect {
	margin-bottom:2px;
	font-size:25px;
 	
}

.collective img {
	width: 50px;
	cursor: pointer;
}

.collective1 {
	margin-top: 2px;
}

.collective2 {
	margin-left: 50px;
}

.gold img {
	width: 50px;
	height: 50px;
	padding-left: 10px;
}

.gold h3 {
	padding-top: 10px;
}
.sideBadge{
	margin: 12px;
	padding: 12px;
}
.gold{
    width:250px;
    padding-right: 10px;
    padding-bottom:20px;
    margin-right:20px;
    border: 1px solid rgba(128,128,128,0.2);
    border-radius:5px;	
}
.imgGold{
	display:flex;
}
.gold1{
   display:flex;
}
.gold button{
   margin-top:0px;
   margin-bottom:10px;
   height:30px;
   margin-left:30px;
   border-color:#818181;
   color:#818181;
   border-radius:5px;
   cursor: pointer;
}

.Gbutton1 button:hover{
     color:black;
     background-color:#CFD8DC;
}
.history{
	margin-right:0px;
        font-size:12px;
}
.commbadge {
	display: flex;
}

.commspace {
	padding-right: 180px;
        
}

.badgeSpace {
	padding-right: 10px;
}

.badgedet {
	padding-top: 30px;
	font-size: 15px;
}

.footer {
	background-color: black;
}

.footer {
	width: 100%;
	background-color: black;
	float: left;
}

.table tr,td,th {
	margin-top: 20px;
	margin-left: 20px;
	color: darkgray;
	font-size: 10px;
	display: flex;
}
.table img {
	height: 30px;
}
 


 

